.main-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Lato", sans-serif;
  text-align: center;
}

#heading {
  font-family: "Fredoka One", sans-serif;
  color: #3d348bff;
  margin: 0;
}

#content {
  font-size: 40px;
  margin: 0;
}

.join {
  width: 80%;
  text-align: center;
  border: solid 3px #7678edff;
  border-radius: 10px;
  box-shadow: 10px 10px 10px gray;
  box-sizing: border-box;
  padding: 10px;
  margin: 30px 0;
  width: 80%;
}

.main-text a {
  margin: 20px 0;
  color: #f18701ff;
  text-decoration: none;
  border-bottom: solid 3px #f18701ff;
  width: 80%;
  display: inline;
}

#email {
  font-size: 40px;
  width: 80%;
}
