#heading {
  text-align: center;
  font-family: "Fredoka One", sans-serif;
  color: #3d348bff;
}

.exec-tiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.tile {
  position: relative;
  margin: 30px;
  overflow: hidden;
}

.tile > img {
  height: 500px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
}

@media only screen and (min-width: 551px) {
  .label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;

    font-size: 0;
  }

  .label:hover {
    margin: 0;
    border-radius: 10px;
    border: solid 5px #7678edff;
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #f7b801ff;
    font-size: 2.5em;
    font-weight: 600;
  }
  .tile:hover > img {
    filter: blur(7px);
  }
}
@media only screen and (max-width: 550px) {
  .tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .tile > img {
    height: 400px;
    width: 300px;
  }

  .label {
    position: initial;
    font-family: "Lato", sans-serif;
    color: #f7b801ff;
    font-size: 2em;
    font-weight: 600;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
