/* CSS HEX
--dark-slate-blue: #3d348bff;
--medium-slate-blue: #7678edff;
--selective-yellow: #f7b801ff;
--tangerine: #f18701ff;
--orange-pantone: #f35b04ff;
*/

/*https://dev.to/devggaurav/let-s-build-a-responsive-navbar-and-hamburger-menu-using-html-css-and-javascript-4gci */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/***** Header Styling ******/
header {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f7b801ff;
}

header > img {
  width: 300px;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.navlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navlink {
  width: fit-content;
}
.navlink > a {
  color: #3d348bff;
  font-family: "Fredoka One", sans-serif;
  font-size: 30px;
  text-decoration: none;
  padding: 20px 20px 0px 20px;
}

.navlink:hover {
  border-bottom: solid 3px #f35b04ff;
}

.main-text {
  flex-grow: 1;
}

.burger {
  display: none;
  margin-right: 30px;
}

.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 9px auto;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-in-out;
  background-color: #3d348bff;
}

@media only screen and (max-width: 1190px) {
  .navlink > a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 970px) {
  .navlink > a {
    font-size: 15px;
  }
  header > img {
    width: 250px;
  }
}

@media only screen and (max-width: 850px) {
  .navlinks {
    position: fixed;
    left: 100%;
    top: 7%;
    flex-direction: column;
    background-color: #f7b801ff;
    width: 35%;
    border-radius: 0 10px;
    text-align: center;
    transition: 0.3s;
  }
  .navlinks.active {
    left: 67%;
  }
  .navlink {
    margin: 2.5rem 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger.active .bar:nth-child(1) {
    transform: rotateY(8px) rotate(45deg);
  }
  .burger.active .bar:nth-child(3) {
    transform: rotateY(-8px) rotate(-45deg);
  }
}

/***** Footer Styling ******/
footer {
  background-color: #3d348bff;
  color: #f7b801ff;
  height: 80px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-icon > img {
  width: 40px;
  margin: 10px;
}

.social-icon {
  display: inline-block;
}

.social-icon:hover {
  transform: scale(120%);
}

.copywrite {
  flex-grow: 1;
  text-align: center;
  font-family: "Fredoka One", sans-serif;
  font-size: 30px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;

  list-style-type: none;
}

@media only screen and (max-width: 550px) {
  .copywrite {
    font-size: 15px;
  }
  .social-icon > img {
    width: 30px;
  }
}

/***** Home Page Styling *****/
.main-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;
}

.content {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.content > h1 {
  text-align: center;
  color: #3d348bff;
  font-size: 70px;
}

.content > p {
  color: #7678edff;
  width: 60%;
  font-size: 25px;
}

.main-text > img {
  width: 50%;
  object-fit: contain;
}

.join-btn {
  font-family: "Fredoka One", sans-serif;
  font-size: 25px;
  color: white;
  text-decoration: none;
  background-color: #f18701ff;

  margin: 25px 0;
  padding: 15px;
  width: fit-content;
  text-align: center;

  border-radius: 8px;
}

.join-btn:hover {
  transform: scale(115%);
  box-shadow: 10px 10px 10px gray;
}

@media only screen and (max-width: 550px) {
  .main-text {
    flex-direction: column;
    align-items: center;
  }

  .main-text > img {
    width: 90%;
  }
}
